@import "compass/typography/lists/bullets";
@import "compass/css3/inline-block";
@import "compass/css3/transition";
@import "compass/css3/border-radius";
@import "compass/css3/box-sizing";
@import "compass/css3/opacity";


/* Mixins */

@mixin bg-cover($img, $is_fixed: true) {
	background: url($img) no-repeat center center;
	@if $is_fixed == true {
		background-attachment: fixed;
	}
	@else {
		background-attachment: scroll;
	}
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	/* IE 7-8 support */
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=$img, sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=$img, sizingMethod='scale')";
}
