@import "compass/typography/lists/bullets";
@import "compass/css3/inline-block";
@import "compass/css3/transition";
@import "compass/css3/border-radius";


/* Mixins */

@mixin bg-cover($img) {
	background: url($img) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;

	/* IE 7-8 support */
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src=$img, sizingMethod='scale');
	-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src=$img, sizingMethod='scale')";
}
