@import "base";

body {
	background-color: #f00;
}

nav {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
}

main {
	height: 100%;
	white-space: nowrap;
}

main section {
	@include inline-block;
	position: relative;
	max-width: 25%;
	min-width: 32rem;
	background: #0f0;
	height: 100%;
}


/* Scrollbar styling */
.mCSB_horizontal>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar,
.mCSB_horizontal>.mCSB_scrollTools .mCSB_draggerRail {
	@include border-radius(0px);
	height: 100%;
}